@use "./variables" as var;

body {
    background-image: url("../images/bg-intro-desktop.png");
    background-color: var.$red;
    font-family: var.$main-font;
    font-size: var.$main-font-size;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 14rem;

}

main {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}