@use "./variables" as var;

form {
    background-color: white;
    color: var.$red;
    padding: 2rem;
    text-align: center;
    width: 540px;
    border-radius: 0.5rem;

    input {
        width: 95%;
        padding: 0.8rem;
    }

    .status {
        text-align: right;
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0.5rem 1.5rem 1rem 0;
        font-style: italic;
    }

    .input-container {
        position: relative;

        .error-icon {
            background-image: url("../images/icon-error.svg");
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            right: 3rem;
            top: 0.95rem;
        }
    }

    button {
        width: 95%;
        border: none;
        padding: 1rem 0;
        background-color: var.$green;
        text-transform: uppercase;
        color: white;
        font-weight: 500;
        box-shadow: 0 0.3rem 0rem hsl(154deg, 82%, 36%);
        border-radius: 0.4rem;
        cursor: pointer;

        &:hover {
            background-color: #77e2b3;
            box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
        }
    }

    .term-condition {
        font-size: 0.7rem;
        margin: 1.2rem 0;
        font-weight: 600;
        color: var.$grayish-blue;
        
        .red {
            color: var.$red;
            font-weight: 700;
        }

        a {
            text-decoration: none;
        }
    }
}