@use "./variables" as var;

form {
    background-color: white;
    color: var.$red;
    padding: 2rem;
    text-align: center;

    input {
        width: 90%;
        padding: 0.8rem;
    }

    .status {
        text-align: right;
    }

    .input-container {
        position: relative;

        .error-icon {
            background-image: url("../images/icon-error.svg");
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            right: 3rem;
            top: 0.95rem;
        }
    }
}